body {
    background-color: #ECEDF0;
    color:black !important;
}

a:hover {
    text-decoration:none !important;
}

h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
